---
layout: homepage
title: Home | 水镜的博客
---
<main>
        <img src="/images/Background/star_sky.jpeg" alt="星空" class="back_img">
        <section class="articles">
            <h1>Recent Posts</h1>
            {% for post in site.posts %}
                <div class="post-card">
                    <a href="{{ post.url | relative_url }}" style="display: block; text-decoration: none; color: inherit;">
                        <h2>{{ post.title }}</h2>
                        <p class="post-meta">
                            <i class="fa-solid fa-calendar"></i>
                            <span class="post-date">{{ post.date | date: "%Y-%-m-%-d" }}</span> |
                            <span class="post-category">{{ post.categories | join: ", " }}</span> |
                            <span class="post-tags">
                                {% for tag in post.tags %}
                                    <span class="post-tag">{{ tag }}</span>
                                {% endfor %}
                            </span>
                        </p>
                        <p class="post-excerpt">{{ post.excerpt | truncatewords: 20 }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>
        
</main>

