<header class="header">
  <button class="sidebar-toggle" onclick="toggleSidebar()">
      <i class="fa fa-bars"></i>
  </button>
  <a href="https://www.verumkey.com" target="_self" class="home-link">Home</a>
</header>

<div class="sidebar">
  <div class="profile">
  <img src="images/profile.png" alt="Profile Picture" class="profile-pic">
  <h2>水镜</h2>
  </div>
  <ul class="contact-list">
      <li><i class="fa-solid fa-globe"></i> 成都</li>    
      <li><i class="fa-solid fa-envelope"></i> verumkeys@gmail.com</li> 
      <li><i class="fa-brands fa-github"></i> <a href="https://github.com/Verumkey" target="_blank">Verumkey</a></li>    
  </ul>
</div>