h1, h2, h3 {
  scroll-margin-top: 80px; /* 改成你 header 的高度 */
}
/*页尾样式*/
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
}
footer p {
  margin: 10px 0;
}
footer a {
  color: #007bff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


img {
    max-width: 100%; /* 使图片自适应宽度 */
    height: auto; /* 保持图片比例 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 防止横向滚动条 */
}

a {
    color: #00f;
    text-decoration:none;
}