/* 页眉样式 */
.header {
    width: 100%; /* 使页眉宽度占满整个视口 */
    height: 60px; /* 设置固定高度 */
    position: fixed; /* 固定页眉在顶部 */
    top: 0; /* 让页眉固定在视口顶部 */
    left: 0; /* 确保没有左右偏移 */
    background-color: white; /* 设置背景色 */
    z-index: 1000; /* 确保页眉位于最上层 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    background-color: #f8f9fa;
}

/* 调整页眉内的链接和按钮样式 */
.home-link {
    text-decoration: none;
    color: black;
}

.toggle-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-right: 40px;
}


nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
nav ul li a:hover {
  color: #007bff;
}

/*页尾样式*/
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
}
footer p {
  margin: 10px 0;
}
footer a {
  color: #007bff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


img {
    max-width: 100%; /* 使图片自适应宽度 */
    height: auto; /* 保持图片比例 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 防止横向滚动条 */
}

a {
    color: #00f;
    text-decoration:none;
}