/* 设置页面主要内容容器的最大宽度和自适应宽度 */
.container {
    max-width: 1200px; /* 最大宽度 */
    margin: 0 auto; /* 居中 */
    padding: 0 10px; /* 设置左右内边距 */
    margin-top: 20px; /* 调整页眉与内容之间的距离 */
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 列方向 */
    align-items: center; /* 居中对齐 */
}

.content {
    width: 100%; /* 内容占满宽度 */
    padding: 10px; /* 内边距 */
    box-sizing: border-box; /* 包含内边距 */
}

/* 让图片自适应屏幕 */
img {
    max-width: 100%;
    height: auto;
}

/* 让表格自适应屏幕 */
table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.main-content {
    flex: 1; /* 主内容区域自适应 */
    width: 100%; /* 确保主内容区域占满宽度 */
}

.sidebar {
    flex: 0 0 300px; /* 在桌面上设置侧边栏的固定宽度 */
}

@media (max-width: 768px) {
    .container {
        margin-top: 40px; /* 在手机上增加上边距 */
        padding: 0 5px; /* 在手机上可以考虑设置左右小的内边距 */
    }

    .sidebar {
        width: 100%; /* 在手机上侧边栏占满宽度 */
    }
}

header {
    width: 100vw; /* 使页眉宽度占满整个视口 */
    position: relative; /* 相对定位 */
    left: 0; /* 确保没有左右偏移 */
}

