<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/homepage.css' | relative_url }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet"> 
    <script src="/assets/javascript/homepage.js" defer></script>
</head>
<body>

    {% include header.html %}
 

    <div class="main-content">
        {{ content }} <!-- 显示页面内容 -->
    <div>
   

    {% include footer.html %}

</body>
</html>
