<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/homepage.css' | relative_url }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">  
</head>
<body>

    {% include header.html %}
    
    <div class="container">
        <div class="main-content">
        {{ content }} <!-- 显示页面内容 -->
        <div>
    </div>

    {% include footer.html %}

</body>
</html>
