<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon"> 
</head>
<body>

    {% include post_header.html %}

    <div class="container">
        <div class="content">
            {{ content }} <!-- 显示页面内容 -->
        </div>
    </div>

    {% include footer.html %}

    <script>
        function toggleToc() {
            const toc = document.getElementById('toc');
            toc.classList.toggle('open'); // 切换大纲显示状态
            document.body.style.overflow = toc.classList.contains('open') ? 'hidden' : ''; // 防止文章滚动
        }
    </script>

</body>
</html>
